
#chat{
    background-color:#fec7d7;
    margin: 20px auto 0;
    width: 400px;
}
#chat #header-chat{
    background-color: #A786DF;
    color: white;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

#caja-mensaje{
background-color: #A786DF;
margin: 0 auto;
padding: 10px;
width: 400px;
}
#caja-mensaje input{
border: solid 1px #A786DF;
outline: none;
padding: 10px;
width: 310px;
}


#chat #mensajes{
padding: 10px;
height: 400px;
width: 400px;
overflow: hidden;
overflow-y: scroll 
}

#chat #mensajes .mensaje-autor{
margin-bottom: 50px;

}
#chat #mensajes .mensaje-autor img, #chat #mensajes .mensaje-amigo img{
display: inline-block;
vertical-align: top;
}
#chat #mensajes .mensaje-autor .contenido{
background-color: white;
border-radius: 5px;
box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
display: inline-block;
font-size: 13px;
padding: 15px;
vertical-align: top;
width: 280px;
}
#chat #mensajes .mensaje-autor .fecha{
color: #777;
font-style: italic;
font-size: 13px;
text-align: right;
margin-right: 35px;
margin-top: 10px;
}
#chat #mensajes .mensaje-autor .flecha-izquierda{
    display: inline-block;
    margin-right: -6px;
    margin-top: 10px;
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
}


#chat #mensajes .mensaje-amigo{
    margin-bottom: 50px;
}
#chat #mensajes .mensaje-amigo .contenido{
    background-color: #A786DF;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 13px;
    padding: 15px;
    vertical-align: top;
    width: 280px;
}
#chat #mensajes .mensaje-amigo .flecha-derecha{
    display: inline-block;
    margin-left: -6px;
    margin-top: 10px;
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #A786DF;
}
#chat #mensajes .mensaje-amigo img, #chat #mensajes .mensaje-autor img{
    border-radius: 5px;
}
#chat #mensajes .mensaje-amigo .fecha{
    color: #777;
    font-style: italic;
    font-size: 13px;
    text-align: left;
    
    margin-top: 10px;
}
.bottom-banner {
    background: #0e172c;
    color: white;
    border-radius: 30px;
    margin-bottom: 30px;
    display: block;
    visibility: visible;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
 
  }